@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <i class="fa-solid fa-box-archive align-content-center"></i>
    <h1 class="display-4">Welcome to the InventoryApp</h1>
</div>
